@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-inverted{
  filter: hue-rotate(1);
}

.navlink{
  padding: 8px;
  border-radius: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}
.navlink:hover{
  background-color: antiquewhite;
}

.MuiOutlinedInput-input-root.Mui-focused, .MuiOutlinedInput-notchedOutline{
border-color: white;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

